@media screen and (max-width: 804px) {
    /* Sidebar menu  */
    #sidebar {
        margin-top: 80px;
    }
    #sidebar ul li {
        font-size: 1rem;
        margin: 10px 0px;
    }
    .sidebar-icon {
        margin-right: 21px;
        margin-top: 17px;
        height: 45px;
        width: 45px;
    }
    /* Navbar  */
    
    .nav-logo h1 {
        margin: 3px 15px 3px 20px;
        font-weight: 700;
        font-size: 30px;
    }
    .nav-logo p {
        margin-left: 20px;
        font-size: 0.7rem;
    }

    #navbar {
        height: 80px;
    }

    .nav-menu {
        right: 20px;
        font-size: 1.2rem;
        height: 45px;
        width: 45px;
    }
    
    /* Home Section  */

    #home {
        height: 250px;
        padding: 120px 20px 10px 20px;
    }
    .home-content {
        padding: 10px;
    }
    .home-content h1 {
        font-size: 2.2rem;
        padding: 10px;
    }
    .home-content p {
        font-size: 0.8rem;
    }
    .button {
        margin-top: 20px;
        padding: 8px 14px;
    }

    /* Services  */
    
    #services {
        padding: 10px 0px 20px 0px;
    }
    #services h1 {
        font-size: 1.8rem;
        padding: 20px 0px 10px;
    }
    .box h2 {
        font-size: 1.5rem;
        margin: 10px;
    }
    .box p {
        font-size: 0.8rem;
        padding: 0 10px;
    }

    /* how it works  */
    
    .working {
        padding: 40px 10px;
    }
    
    .left h1 {
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .left li {
        font-size: 0.8rem;
        margin-bottom: 10px;
    }
    .left, .right {
        width: 80%;
        margin-bottom: -40px;
    }

    /* Satisfied customer */
    
    #customer {
        padding: 20px 10px 100px 10px;
    }
    #customer h1 {
        margin: 20px 0px 20px 0px;
        color: white;
        font-size: 2rem;
    }
    .cust-box h2 {
        margin: 20px 20px 5px 20px;
        font-size: 2rem;
    }
    .cust-box p {
        font-size: 0.8rem;
    }
    /* Contact us */
    
    .cont-left h1{
        font-size: 2rem;
        margin-bottom: 10px;
        margin-top: 60px;
    }
    .cont-left p{
        font-size: 0.9rem;
    }
    .cont-right input, #message {
        margin: 5px 0px;
        height: 50px;
        font-size: 0.8rem;
    }
    #message {
        padding-top: 18px;
        height: 60px;
    }
    ::placeholder {
        color: white;
        opacity: 1;
        padding-left: 18px;
    }
    .button-container {
        margin-top: 10px;
        width: 150px;
        height: 48px;
        font-size: 0.8rem;
    }
    .button-container div {
        padding-left: 22px;
    }
    .button-icon {
        background-color: white;
        height: 38px;
        width: 38px;
        border-radius: 50%;
        margin-left: 9px;
        font-size: 1rem;
    }
    /* Footer  */
    
    .footer {
        padding: 10px 0px;
    }
    .foot-up {
        padding: 0px 0px 10px 0px;
    }
    .foot-up h6 {
        font-size: 1.5rem;
        margin: 10px 0px;
    }
    .foot-places p {
        font-size: 0.8rem;
        line-height: 2;
    }
    
    .foot-middle {
        padding: 20px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .foot-middle h5{
       font-size: 1.5rem; 
       margin-right: 0px;
    }
    .foot-middle a {
        font-size: 1.5rem;
        margin-left: 20px;
    }
    .copyright {
        padding: 10px 0px 0px;
        font-size: 0.7rem;
    }
    
}